.wrapper {
    padding-top: 30vm;
    width: 200px;
    margin: auto;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper h1 {
    font-size: 75px;
    padding: 0;
}

.wrapper h1 a {
    text-decoration: none;
    color: black;
}

.wrapper ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

}

.wrapper ul li { float: left; }

.wrapper ul li a {
    display: block;
    text-align: center;
    padding: 16px;
}

.wrapper a:hover {
    text-decoration: underline;
}